PORT = 8000
MONGO_DB_URL = "your mongodb url"
DATABASE_NAME = "your database name"
MIGRATION_DB = "your migration mongodb url"
JWT_SECRET = "jwt secret key"
EXPIRES_IN = "expiry date"
SALT = "your salt number"
NODE_ENV = "node env"
FRONTEND_URL="your frontend url"
FRONTEND_PROD_URL="your frontend production url"
